@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #171717;
}

/* Default style for navbar */
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.665);
  box-shadow: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
html,
body {
  overflow-x: hidden !important;
  width: 100vw !important;
}
