@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #171717;
}
body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}

html,
body {
  overflow-x: hidden !important;
  width: 100vw !important;
}

/* Default style for navbar */
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.665);
  box-shadow: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
